<% provide(:title, 'Market') %>
<h1>Stocks</h1>

   <div>
    <%= line_chart [
 {name: "IBM", data: @ibms.all.inject({}) {|res, v| res[v[:date]] = v.close; res }},
             ], points: false, colors: ["#b00", "#666"], width: "1100px", height: "500px" %>
            
    </div>
    
    
    <div>
    <%= line_chart [
 {name: "Amazon", data: @amazons.all.inject({}) {|res, v| res[v[:date]] = v.close; res }},
             ], points: false, colors: ["#020DF9", "#666"], width: "1100px", height: "500px" %>
            
    </div>
    
    <div>
    <%= line_chart [
 {name: "Apple", data: @apples.all.inject({}) {|res, v| res[v[:date]] = v.close; res }},
             ], points: false, colors: ["#14F902", "#666"], width: "1100px", height: "500px" %>
            
    <% if logged_in? %>   
        <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 100px;">
            <div style="width: 50%; display: table-cell">
                <%= form_tag buy_path do |form| %>
                      <%= hidden_field_tag  :email, nil, :required => true, value:current_user.email %>
                      <label for="markets">Choose a market:</label>
                      <select id="markets" name="markets">
                      <option value="ibm">IBM</option>
                      <option value="amazon">Amazon</option>
                      <option value="apple">Apple</option>
                      </select>
                      <%= label_tag  :amount %><br>
                      <%= text_field_tag :amount, nil, :required => true %>
                      <%= submit_tag "Buy" %>
                <% end %> 
            </div>
            
            
            <div style="display: table-cell"> 
                <%= form_tag sell_path do |form| %>
                      <%= hidden_field_tag  :email, nil, :required => true, value: current_user.email %>
                      <%= hidden_field_tag  :id, nil, :required => true, value: current_user.id %>
                      <label for="markets">Choose a market:</label>
                      <select id="markets" name="markets">
                      <option value="ibm">IBM</option>
                      <option value="Amazon">Amazon</option>
                      <option value="Apple">Apple</option>
                      </select>
                       <%= label_tag  :amount %><br>
                      <%= text_field_tag :amount, nil, :required => true %>
                      <%= submit_tag "Sell" %>
                <% end %> 
            </div>
        </div>
        </div>
        <% end %>  
    </div>
    
    

    

    