<% provide(:title, 'Market') %>
<h1>Stocks</h1>

   <div>
    <%= line_chart [
 {name: "IBM", data: @stocks.all.inject({}) {|res, v| res[v[:date]] = v.close; res }},
             ], points: false, colors: ["#b00", "#666"], width: "1100px", height: "500px" %>
            
        <% if logged_in? %>   
        <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 100px;">
            <div style="width: 50%; display: table-cell">
                <%= form_tag buy_amzn_path do |form| %>
                      <%= label_tag :email %><br>
                      <%= text_field_tag  :email %>
                      <%= label_tag  :amount %><br>
                      <%= text_field_tag :amount %>
                      <%= submit_tag "Buy" %>
                <% end %> 
            </div>
            
            
            <div style="display: table-cell"> 
                <%= form_tag sell_amzn_path do |form| %>
                      <%= label_tag :email %><br>
                      <%= text_field_tag  :email %>
                      <%= label_tag  :amount %><br>
                      <%= text_field_tag :amount %>
                      <%= submit_tag "Sell" %>
                <% end %> 
            </div>
        </div>
        </div>
        <% end %>
    </div>
    
    
    <div>
    <%= line_chart [
 {name: "Amazon", data: @amazons.all.inject({}) {|res, v| res[v[:date]] = v.close; res }},
             ], points: false, colors: ["#0000FF", "#666"], width: "1100px", height: "500px" %>
            
        <% if logged_in? %>   
        <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 100px;">
            <div style="width: 50%; display: table-cell">
                <%= form_tag buy_amzn_path do |form| %>
                      <%= label_tag :email %><br>
                      <%= text_field_tag  :email %>
                      <%= label_tag  :amount %><br>
                      <%= text_field_tag :amount %>
                      <%= submit_tag "Buy" %>
                <% end %> 
            </div>
            
            
            <div style="display: table-cell"> 
                <%= form_tag sell_amzn_path do |form| %>
                      <%= label_tag :email %><br>
                      <%= text_field_tag  :email %>
                      <%= label_tag  :amount %><br>
                      <%= text_field_tag :amount %>
                      <%= submit_tag "Sell" %>
                <% end %> 
            </div>
        </div>
        </div>
        <% end %>
    </div>


    <div>
    <%= line_chart [
 {name: "Apple", data: @apples.all.inject({}) {|res, v| res[v[:date]] = v.close; res }},
             ], points: false, colors: ["#008080", "#666"], width: "1100px", height: "500px" %>
            
        <% if logged_in? %>   
        <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 100px;">
            <div style="width: 50%; display: table-cell">
                <%= form_tag buy_amzn_path do |form| %>
                      <%= label_tag :email %><br>
                      <%= text_field_tag  :email %>
                      <%= label_tag  :amount %><br>
                      <%= text_field_tag :amount %>
                      <%= submit_tag "Buy" %>
                <% end %> 
            </div>
            
            
            <div style="display: table-cell"> 
                <%= form_tag sell_amzn_path do |form| %>
                      <%= label_tag :email %><br>
                      <%= text_field_tag  :email %>
                      <%= label_tag  :amount %><br>
                      <%= text_field_tag :amount %>
                      <%= submit_tag "Sell" %>
                <% end %> 
            </div>
        </div>
        </div>
        <% end %>
    </div>


    