<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
    <section class="user_info">
    <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
    </h1>
    </section>
    
    <head>
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 200%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        h2 {
            text-align: right;
          }
        
        </style>
    </head>
    
    <body>

        <h2>Stocks</h2>
        
        <table class="center">
          <tr>
            <th>Funds</th>
            <th>IBM</th>
            <th>Amazon</th>
            <th>Apple</th>
          </tr>
          <tr>
            <td> <%= @user.funds %> </td>
            <td> <%= @user.ibm %> </td>
            <td> <%= @user.amazon %> </td>
            <td> <%= @user.apple %> </td>

          </tr>
          
        </table>

    </body>
    
    <body>

        <h2>Transacciones</h2>
          <table class="center">
            <tr>
              <th>Fecha</th>
              <th>Transacción</th>
              <th>Mercado</th>
              <th>Cantidad</th>
            </tr>
            <% @user.transactions.all.each do |s| %>
            <tr>
                <td><%= s.created_at %></td>
                <td>
                    <% if s.buy == true %>
                      Compra
                    <% else %>
                      Venta
                    <% end %>
              </td>
                <td><%= s.market %></td>
                <td><%= s.amount %></td>
            </tr>
            <% end %>
          
        </table>

    </body>
    
    
    </aside>
    
   
</table>
    
    
    
    
</div>